.DS_Store

# ignore the whole shared/mysql folder but the .gitkeep file 
# so the folder is tracked even if empty
/shared/mysql/*
!/shared/mysql/.gitkeep

# ignore the whole shared/webserver folder but the .gitkeep file 
# so the folder is tracked even if empty
/shared/webserver/*
!/shared/webserver/.gitkeep

# ignore aws config folder but keep the folder
/shared/aws_configuration/*
!/shared/aws_configuration/.gitkeep

# ignore aws config folder but keep the folder
/shared/logs/*
!/shared/logs/.gitkeep


host_machine_ip
shared/webserver_bash_history
