
.DS_Store

# ignore the whole shared/mysql folder 
/shared/mysql/*


# ignore the whole shared/webserver folder
/shared/webserver/*


# ignore aws config folder
/shared/aws_configuration/*


# ignore aws config folder
/shared/logs/*


host_machine_ip
shared/webserver_bash_history

# ignore redis data but the folder
/shared/redis/*


!.gitkeep
